{% extends 'base.html.twig' %}

{% block body %}

<!-- We can now combine rows and columns when there's only one column in that row -->
	<div class="row medium-8 large-7 columns">
		<div class="blog-post">
			<ul class="tabs" data-tabs id="example-tabs">
				<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Aktuelle Werte</a></li>
				<li class="tabs-title"><a href="#panel2">Wochenübersicht</a></li>
			</ul>
            <div class="tabs-content" data-tabs-content="example-tabs">
            	<div class="tabs-panel is-active" id="panel1">
            		<p>Hier die aktuellen Werte</p>
            		<div id="values"></div>
            		<div id="valuedatetime"></div>
            	</div>
            	<div class="tabs-panel" id="panel2">
            		<p>Hier die Wochenübersicht</p>
            	</div>
            </div>
			<hr>
		</div>
	</div>

<script type="text/javascript">

    function getValues() {

    	var ObjUl = jQuery('<ul class="values-list"></ul>');
		var Objdatetime = jQuery('<div class="valuestime"></div>');
		
    	jQuery.ajax({
    		url: '../web/app.php/api/measurements/currentvalues',
    		dataType: 'json',
    		method: 'GET',
    		timeout: '30000',
    		success: function(data) {
    			jQuery('#values').append(ObjUl);
    
    			jQuery.each(data, function(key, item) {
    	     		console.log(key + item);
    				switch(key) {
    					case 'temp_dht_hic':
    						jQuery('li.temp').remove();
    						var Objli = jQuery('<li class="temp"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Temperatur:</span> <span class="value">' + item + '</span><span class="item-unit">°C</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'humidity_dht':
    						jQuery('li.humidity').remove();
    						var Objli = jQuery('<li class="humidity"><i class="fa fa-tint" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Luftfeuchtigkeit:</span> <span class="value">' + item + '</span><span class="item-unit">%</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'pressure_bmp':
    						jQuery('li.pressure').remove();
    						var Objli = jQuery('<li class="pressure"><i class="fa fa-cloud" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Luftdruck:</span> <span class="value">' + item + '</span><span class="item-unit">hPa</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'uvindex_is':
    						jQuery('li.uvindex').remove();
    						var Objli = jQuery('<li class="uvindex"><i class="fa fa-sun-o" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">UV-Index:</span> <span class="value">' + item +'</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'add_datetime':
        					jQuery('#valuedatetime').html('');
        					var date = new Date(item);

        					switch (date.getDay()) {
        						case 0:
            						var name_of_day = 'Sonntag';
            						break;
        						case 1:
            						var name_of_day = 'Montag';
            						break;
        						case 2:
            						var name_of_day = 'Dienstag';
            						break;
        						case 3:
            						var name_of_day = 'Mittwoch';
            						break;
        						case 4:
            						var name_of_day = 'Donnerstag';
            						break;
        						case 5:
            						var name_of_day = 'Freitag';
            						break;
        						case 6:
            						var name_of_day = 'Samstag';
            						break;
        					}
        					
        					switch (date.getMonth()) {
    						case 0:
        						var name_of_month = 'Januar';
        						break;
    						case 1:
        						var name_of_month = 'Februar';
        						break;
    						case 2:
        						var name_of_month = 'März';
        						break;
    						case 3:
        						var name_of_month = 'April';
        						break;
    						case 4:
        						var name_of_month = 'Mai';
        						break;
    						case 5:
        						var name_of_month = 'Juni';
        						break;
    						case 6:
        						var name_of_month = 'Juli';
        						break;
        					case 7:
        						var name_of_month = 'August';
        						break;
                			case 8:
            					var name_of_month = 'September';
            					break;
                			case 9:
            					var name_of_month = 'Oktober';
            					break;
                        	case 10:
                    			var name_of_month = 'November';
                    			break;
                        	case 11:
                    			var name_of_month = 'Dezember';
                    			break;
                    		}

        					var strHours = '' + date.getHours();
                    		if(strHours.length == 1) {
                    			strHours = '0' + strHours;
                        	}
                        	
                    		var strMinutes = '' + date.getMinutes();
                    		if(strMinutes.length == 1) {
                    			strMinutes = '0' + strMinutes;
                        	}

                    		var strSeconds = '' + date.getSeconds();
                    		if(strSeconds.length == 1) {
                    			strSeconds = '0' + strSeconds;
                        	}
    						
        					jQuery('#valuedatetime').append(
                					'Meßdaten vom ' +
        							name_of_day + ', ' +
        							date.getDate() + '. ' +
        							name_of_month + ' ' + 
                					date.getFullYear() + ', ' + 
                					strHours + ':' +
                					strMinutes + ':' +
                					strSeconds + ' Uhr'
                			);
    						break;
    				}
    	       });
    		}
    	});
    	setTimeout(getValues, 600000);
    }
    
    jQuery(document).ready(function() {
    	setTimeout(getValues, 500);
    });

</script>

{% endblock %}