{% extends 'base.html.twig' %}

{% block body %}

<!-- We can now combine rows and columns when there's only one column in that row -->
	<div class="row medium-12 large-12 columns">
		<div class="blog-post">
			<ul class="tabs" data-tabs id="example-tabs">
				<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Aktuell</a></li>
				<li class="tabs-title"><a href="#panel2">24 Stunden</a></li>
				<li class="tabs-title"><a href="#panel3">Woche</a></li>
				<li class="tabs-title"><a href="#panel4">30 Tage</a></li>
				<li class="tabs-title"><a href="#panel5">Statistik</a></li>
			</ul>
            <div class="tabs-content" data-tabs-content="example-tabs">
            	<div class="tabs-panel is-active" id="panel1">
            		<p>Hier die aktuellen Werte</p>
            		<div id="values"></div>
            		<div id="valuedatetime"></div>
            	</div>
            	<div class="tabs-panel" id="panel2">
            		<p>Hier die gemessenen Werte der vergangenen 24 Stunden.</p>
            		<ul class="accordion" data-accordion data-multi-expand="true">
            			<li class="accordion-item is-active" data-accordion-item>
							<a href="#" class="accordion-title">Temperatur</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="temp_chart" width="600" height="200"></canvas>
    						</div>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftfeuchte</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="humidity_chart" width="600" height="200"></canvas>
    						</div>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftdruck</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="pressure_chart" width="600" height="200"></canvas>
    						</div>
  						</li>
            		</ul>
            	</div>
            	<div class="tabs-panel" id="panel3">
            		<p>Hier die Wochenübersicht. Darin sind die minmalen und maximalen Werte der vergangenen 7 Tage aufgeführt</p>
            		<ul class="accordion" data-accordion data-multi-expand="true">
            			<li class="accordion-item is-active" data-accordion-item>
							<a href="#" class="accordion-title">Temperatur</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="temp_chart_7days" width="600" height="200"></canvas>
    						</div>
    						<p>
                				<ul>
                					<li>minTemp DHT - Minimaler Temperaturwert des Tages vom Sensor DHT gemessen</li>
                					<li>maxTemp DHT - Maximaler Temperaturwert des Tages vom Sensor DHT gemessen</li>
                					<li>avgTemp DHT - Durchschnittlicher Temperaturwert des Tages vom Sensor DHT gemessen</li>
                					<li>minTemp BMP - Minimaler Temperaturwert des Tages vom Sensor BMP gemessen</li>
                					<li>maxTemp BMP - Maximaler Temperaturwert des Tages vom Sensor BMP gemessen</li>
                					<li>avgTemp BMP - Durchschnittlicher Temperaturwert des Tages vom Sensor BMP gemessen</li>
                				</ul>
            				</p>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftfeuchte</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="humidity_chart_7days" width="600" height="200"></canvas>
    						</div>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftdruck</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="pressure_chart_7days" width="600" height="200"></canvas>
    						</div>
  						</li>
            		</ul>
            	</div>
            	<div class="tabs-panel" id="panel4">
            		<p>Hier die Monatsübersicht. Darin sind die minmalen und maximalen Werte der vergangenen 30 Tage aufgeführt</p>
            		<ul class="accordion" data-accordion data-multi-expand="true">
            			<li class="accordion-item is-active" data-accordion-item>
							<a href="#" class="accordion-title">Temperatur</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="temp_chart_30days" width="600" height="200"></canvas>
    						</div>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftfeuchte</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="humidity_chart_30days" width="600" height="200"></canvas>
    						</div>
  						</li>
  						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Luftdruck</a>
    						<div class="accordion-content" data-tab-content>
      							<canvas id="pressure_chart_30days" width="600" height="200"></canvas>
    						</div>
  						</li>
            		</ul>
            	</div>
            	<div class="tabs-panel" id="panel5">
            		<p>Hier die Wetter Statistik</p>
            		<div class="row collapse">
  						<div class="medium-3 columns">
    						<ul class="vertical tabs" data-tabs id="example-tabs">
    					</div>
    					 <div class="medium-9 columns">
							<div id="tabcontent" class="tabs-content" data-tabs-content="example-tabs"></div>
						</div>
    				</div>
            	</div>
            </div>
			<hr>
		</div>
	</div>

<script type="text/javascript">

    function getValues() {

    	moment.locale('de');

    	formatTime = function(dateItem) {

			var strHours = '' + moment(dateItem).hour();
    		if(strHours.length == 1) {
    			strHours = '0' + strHours;
        	}
        	
    		var strMinutes = '' + moment(dateItem).minutes();
    		if(strMinutes.length == 1) {
    			strMinutes = '0' + strMinutes;
        	}
        	
            return strHours + ":" +  strMinutes;
        }

    	var ObjUl = jQuery('<ul class="values-list"></ul>');
		var Objdatetime = jQuery('<div class="valuestime"></div>');
		
    	jQuery.ajax({
    		url: 'app.php/api/measurements/currentvalues',
    		dataType: 'json',
    		method: 'GET',
    		timeout: '30000',
    		success: function(data) {
    			jQuery('#values').append(ObjUl);
    			//console.log(data);
    			jQuery.each(data, function(key, item) {
    	     		//console.log(key + item);
    				switch(key) {
    					case 'temp_dht_hic':
    						jQuery('li.temp').remove();
    						var Objli = jQuery('<li class="temp"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Temperatur:</span> <span class="value">' + item + '</span><span class="item-unit">°C</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'humidity_dht':
    						jQuery('li.humidity').remove();
    						var Objli = jQuery('<li class="humidity"><i class="fa fa-tint" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Luftfeuchtigkeit:</span> <span class="value">' + item + '</span><span class="item-unit">%</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'pressure_bmp':
    						jQuery('li.pressure').remove();
    						var Objli = jQuery('<li class="pressure"><i class="fa fa-cloud" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">Luftdruck:</span> <span class="value">' + item + '</span><span class="item-unit">hPa</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'uvindex_is':
    						jQuery('li.uvindex').remove();
    						var Objli = jQuery('<li class="uvindex"><i class="fa fa-sun-o" aria-hidden="true"></i></li>');
    			     		Objli.append('<span class="item-value">UV-Index:</span> <span class="value">' + item +'</span>');
    			     		ObjUl.append(Objli);
    						break;
    					case 'add_datetime':
        					jQuery('#valuedatetime').html('');
                    		
        					jQuery('#valuedatetime').append(
                					'Meßdaten von ' +
                					moment.weekdays(moment(item).day) + ', ' +
        							moment(item).date() + '. ' +
        							moment.months(moment(item).month()) + ' ' + 
        							moment(item).year() + ', ' + 
                					formatTime(item) + ' Uhr'
                			);
    						break;
    				}
    	       });
    		}
    	});
    	setTimeout(getValues, 600000);
    }
    
    jQuery(document).ready(function() {
    	setTimeout(getValues, 500);
    });

</script>
<script type="text/javascript">

	function drawChart() {

		formatTime = function(dateItem) {

			var strHours = '' + moment(dateItem).hour();
    		if(strHours.length == 1) {
    			strHours = '0' + strHours;
        	}
        	
    		var strMinutes = '' + moment(dateItem).minutes();
    		if(strMinutes.length == 1) {
    			strMinutes = '0' + strMinutes;
        	}
        	
            return strHours + ":" +  strMinutes;
        }
    
		var jsonData = $.ajax({
			url: 'app.php/api/measurements/last24hours.json',
			dataType: 'json',
			method: 'GET',
			timeout: '30000',
        }).done(function (results) {

		var labels = [], 
			data_temp_dht=[],
			data_temp_bmp=[],
			data_humidity_dht=[],
			data_pressure_bmp=[];

		results.forEach(function(item) {
			labels.push(formatTime(item.add_datetime));
			data_temp_dht.push(parseFloat(item.temp_dht_hic));
			data_temp_bmp.push(parseFloat(item.temp_bmp));
			data_humidity_dht.push(parseFloat(item.humidity_dht));
			data_pressure_bmp.push(parseFloat(item.pressure_bmp));
		});

		var ctx = document.getElementById("temp_chart");
        var temp_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Temp DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_temp_dht,
                        borderWidth: 2
                    },
                    {
                        label: 'Temp BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,196,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_temp_bmp,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Uhr'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'C°'
                            }
                        }]
                    }
                }
            });

        var ctx = document.getElementById("humidity_chart");
        var humidity_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Humidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_humidity_dht,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Uhr'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '%'
                            }
                        }]
                    }
                }
            });
        
        var ctx = document.getElementById("pressure_chart");
        var pressure_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Pressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_pressure_bmp,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Uhr'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'hPa'
                            }
                        }]
                    }
                }
            });

           
        });
		
        var jsonData = $.ajax({
			url: 'app.php/api/measurements/last7days.json',
			dataType: 'json',
			method: 'GET',
			timeout: '30000',
        }).done(function (results) {
            
        var labels = [], 
			data_mintemp_dht=[],
			data_mintemp_bmp=[],
			data_avgtemp_dht=[],
			data_avgtemp_bmp=[],
			data_minhumidity_dht=[],
			data_minpressure_bmp=[],
			data_avghumidity_dht=[],
			data_avgpressure_bmp=[],
			data_maxtemp_dht=[],
			data_maxtemp_bmp=[],
			data_maxhumidity_dht=[],
			data_maxpressure_bmp=[];

		results.forEach(function(item) {

			//labels.push(moment.weekdays(moment(item.timestamp).day));
			//labels.push(moment().format('ddd', item.datetime_from));
			labels.push(item.dateday);
			data_mintemp_dht.push(parseFloat(item.mintemp_dht_hic));
			data_avgtemp_dht.push(parseFloat(item.avgtemp_dht_hic));
			data_mintemp_bmp.push(parseFloat(item.mintemp_bmp));
			data_avgtemp_bmp.push(parseFloat(item.avgtemp_bmp));
			data_minhumidity_dht.push(parseFloat(item.minhumidity_dht));
			data_minpressure_bmp.push(parseFloat(item.minpressure_bmp));
			data_avghumidity_dht.push(parseFloat(item.avghumidity_dht));
			data_avgpressure_bmp.push(parseFloat(item.avgpressure_bmp));
			data_maxtemp_dht.push(parseFloat(item.maxtemp_dht_hic));
			data_maxtemp_bmp.push(parseFloat(item.maxtemp_bmp));
			data_maxhumidity_dht.push(parseFloat(item.maxhumidity_dht));
			data_maxpressure_bmp.push(parseFloat(item.maxpressure_bmp));
		});
		
		var ctx = document.getElementById("temp_chart_7days");
		var temp_chart = new Chart(ctx, {
            
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'minTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,0,88,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_mintemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'minTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,0,176,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_mintemp_bmp,
                    borderWidth: 2
                },
                {
                    label: 'maxTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,128,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_maxtemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'maxTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,206,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_maxtemp_bmp,
                    borderWidth: 2
                },
                {
                    label: 'avgTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(128,0,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_avgtemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'avgTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(206,0,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_avgtemp_bmp,
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                	xAxes: [{
                        display: true,
                        ticks:
                        {
                            autoSkip: true,
                            display: true,
                            autoSkipPadding: 10,
                            fontFamily: 'arial',
                            fontColor: "#888",
                            fontSize: 14,
                            maxRotation: 0,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Tag'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Max/Min C°'
                        }
                    }]
                }
            }
        });

		var ctx = document.getElementById("humidity_chart_7days");
        var humidity_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'minHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,0,128,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_minhumidity_dht,
                        borderWidth: 2
                    },
                    {
                        label: 'maxHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_maxhumidity_dht,
                        borderWidth: 2
                    },
                    {
                        label: 'avgHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(128,0,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_avghumidity_dht,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Tag'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'min/max %'
                            }
                        }]
                    }
                }
            });

        var ctx = document.getElementById("pressure_chart_7days");
        var pressure_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'minPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,0,128,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_minpressure_bmp,
                        borderWidth: 2
                    },
                    {
                        label: 'maxPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_maxpressure_bmp,
                        borderWidth: 2
                    },
                    {
                        label: 'avgPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(128,0,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_avgpressure_bmp,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Tag'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'min/max hPa'
                            }
                        }]
                    }
                }
            });
		
        });

        var jsonData = $.ajax({
			url: 'app.php/api/measurements/last30days.json',
			dataType: 'json',
			method: 'GET',
			timeout: '30000',
        }).done(function (results) {
            
        var labels = [], 
			data_mintemp_dht=[],
			data_mintemp_bmp=[],
			data_avgtemp_dht=[],
			data_avgtemp_bmp=[],
			data_minhumidity_dht=[],
			data_minpressure_bmp=[],
			data_avghumidity_dht=[],
			data_avgpressure_bmp=[],
			data_maxtemp_dht=[],
			data_maxtemp_bmp=[],
			data_maxhumidity_dht=[],
			data_maxpressure_bmp=[];

		results.forEach(function(item) {

			labels.push(item.dateday);
			data_mintemp_dht.push(parseFloat(item.mintemp_dht_hic));
			data_avgtemp_dht.push(parseFloat(item.avgtemp_dht_hic));
			data_mintemp_bmp.push(parseFloat(item.mintemp_bmp));
			data_avgtemp_bmp.push(parseFloat(item.avgtemp_bmp));
			data_minhumidity_dht.push(parseFloat(item.minhumidity_dht));
			data_minpressure_bmp.push(parseFloat(item.minpressure_bmp));
			data_avghumidity_dht.push(parseFloat(item.avghumidity_dht));
			data_avgpressure_bmp.push(parseFloat(item.avgpressure_bmp));
			data_maxtemp_dht.push(parseFloat(item.maxtemp_dht_hic));
			data_maxtemp_bmp.push(parseFloat(item.maxtemp_bmp));
			data_maxhumidity_dht.push(parseFloat(item.maxhumidity_dht));
			data_maxpressure_bmp.push(parseFloat(item.maxpressure_bmp));
		});
		
		var ctx = document.getElementById("temp_chart_30days");
		var temp_chart = new Chart(ctx, {
            
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'minTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,0,88,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_mintemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'minTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,0,176,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_mintemp_bmp,
                    borderWidth: 2
                },
                {
                    label: 'maxTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,128,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_maxtemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'maxTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(0,206,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_maxtemp_bmp,
                    borderWidth: 2
                },
                {
                    label: 'avgTemp DHT',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(128,0,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_avgtemp_dht,
                    borderWidth: 2
                },
                {
                    label: 'avgTemp BMP',
                    fill: false,
                    lineTension: 0.3,
                    borderColor: "rgba(206,0,0,255)",
                    borderCapStyle: 'butt',
                    pointRadius: 2,
                    pointHitRadius: 10,
                    spanGaps: true,
                    showLine: true,
                    data: data_avgtemp_bmp,
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                	xAxes: [{
                        display: true,
                        ticks:
                        {
                            autoSkip: true,
                            display: true,
                            autoSkipPadding: 10,
                            fontFamily: 'arial',
                            fontColor: "#888",
                            fontSize: 14,
                            maxRotation: 0,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Tag'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Max/Min C°'
                        }
                    }]
                }
            }
        });

		var ctx = document.getElementById("humidity_chart_30days");
        var humidity_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'minHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,0,128,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_minhumidity_dht,
                        borderWidth: 2
                    },
                    {
                        label: 'maxHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_maxhumidity_dht,
                        borderWidth: 2
                    },
                    {
                        label: 'avgHumidity DHT',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(128,0,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_avghumidity_dht,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Tag'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'min/max %'
                            }
                        }]
                    }
                }
            });

        var ctx = document.getElementById("pressure_chart_30days");
        var pressure_chart = new Chart(ctx, {
                
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'minPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,0,128,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_minpressure_bmp,
                        borderWidth: 2
                    },
                    {
                        label: 'maxPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(0,128,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_maxpressure_bmp,
                        borderWidth: 2
                    },
                    {
                        label: 'avgPressure BMP',
                        fill: false,
                        lineTension: 0.3,
                        borderColor: "rgba(128,0,0,255)",
                        borderCapStyle: 'butt',
                        pointRadius: 2,
                        pointHitRadius: 10,
                        spanGaps: true,
                        showLine: true,
                        data: data_avgpressure_bmp,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                    	xAxes: [{
                            display: true,
                            ticks:
                            {
                                autoSkip: true,
                                display: true,
                                autoSkipPadding: 10,
                                fontFamily: 'arial',
                                fontColor: "#888",
                                fontSize: 14,
                                maxRotation: 0,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Tag'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'min/max hPa'
                            }
                        }]
                    }
                }
            });
		
        });
        setTimeout(drawChart, 600000);
      }

    jQuery(document).ready(function() {
    	setTimeout(drawChart, 1000);
    });
    
</script>
<script type="text/javascript">

    function getStaticValues() {
		
    	jQuery.ajax({
    		url: 'app.php/api/measurements/static',
    		dataType: 'json',
    		method: 'GET',
    		timeout: '30000',
    		success: function(data) {

    			var tabindex = 1;
    			jQuery.each(data, function(key, months_items) {

    				jQuery.each(months_items, function(key, month_items) {


        				if(tabindex == 1) {
            				var active_tab = 'is-active';
            				var selected_tab = 'aria-selected="true"';
            			} else {
    						var active_tab = '';
    						var selected_tab = '';
                    	}
                    	
        				var Objlitab = jQuery('<li class="tabs-title" role="presentation"><a href="#panel' + tabindex + 'v" id="panel' + tabindex + 'v-label" role="tab" aria-controls="panel' + tabindex + 'v">' + key + '</a></li>');
        				jQuery('ul#example-tabs.vertical.tabs').append(Objlitab);

        				var ObjTabContentPanel = jQuery('<div class="tabs-panel" id="panel' + tabindex + 'v" role="tabpanel" aria-labelledby="panel' + tabindex + 'v-label"></div>');
						jQuery('#tabcontent').append(ObjTabContentPanel);

						jQuery.each(month_items, function(key, month_item) {
							
							var ObjTabContentPanelTable = jQuery('<table>');
							var ObjTabContentPanelTableHead = jQuery('<thead>');
							var ObjTabContentPanelTableBody = jQuery('<tbody>');
							var ObjTabContentPanelTableHeadTr = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr1 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr2 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr3 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr4 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr5 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr6 = jQuery('<tr>');
							var ObjTabContentPanelTableBodyTr7 = jQuery('<tr>');
							
							ObjTabContentPanel.append(ObjTabContentPanelTable);
							
							jQuery.each(month_item, function(key, items) {
								
								//Build table header
								ObjTabContentPanelTable.append(ObjTabContentPanelTableHead);
								ObjTabContentPanelTableHead.append(ObjTabContentPanelTableHeadTr);

								var ObjTabContentPanelTableTh = jQuery('<th colspan="3">' + moment.months(moment("2000-"+ key +"-01").month()) + '</th>');
								ObjTabContentPanelTableHeadTr.append(ObjTabContentPanelTableTh);

								//Build table body
								ObjTabContentPanelTable.append(ObjTabContentPanelTableBody);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr1);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr2);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr3);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr4);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr5);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr6);
								ObjTabContentPanelTableBody.append(ObjTabContentPanelTableBodyTr7);

								var ObjTabContentPanelTableTd = jQuery('<td>Minimal Temperatur:</td>');
								ObjTabContentPanelTableBodyTr1.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['mintemp_dht_hic'] + '°C <span class="sensor">(DHT)</span></td>');
								ObjTabContentPanelTableBodyTr1.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['mintemp_bmp'] + '°C <span class="sensor">(BMP)</span></td>');
								ObjTabContentPanelTableBodyTr1.append(ObjTabContentPanelTableTd);
								
								var ObjTabContentPanelTableTd = jQuery('<td>Maximal Temperatur:</td>');
								ObjTabContentPanelTableBodyTr2.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['maxtemp_dht_hic'] + '°C <span class="sensor">(DHT)</span></td>');
								ObjTabContentPanelTableBodyTr2.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['maxtemp_bmp'] + '°C <span class="sensor">(BMP)</span></td>');
								ObjTabContentPanelTableBodyTr2.append(ObjTabContentPanelTableTd);
								
								var ObjTabContentPanelTableTd = jQuery('<td>Durchschnittliche Temperatur:</td>');
								ObjTabContentPanelTableBodyTr3.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['avgtemp_dht_hic'] + '°C <span class="sensor">(DHT)</span></td>');
								ObjTabContentPanelTableBodyTr3.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td>' + items['avgtemp_bmp'] + '°C <span class="sensor">(BMP)</span></td>');
								ObjTabContentPanelTableBodyTr3.append(ObjTabContentPanelTableTd);
								
								var ObjTabContentPanelTableTd = jQuery('<td>Wüstentag:</td>');
								ObjTabContentPanelTableBodyTr4.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td colspan="2">' + items['desertdays'] + ' Tag(e) <span class="def">(Tmax ≥ 35 °C)</span></td>');
								ObjTabContentPanelTableBodyTr4.append(ObjTabContentPanelTableTd);
								
								var ObjTabContentPanelTableTd = jQuery('<td>Heißer Tag:</td>');
								ObjTabContentPanelTableBodyTr5.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td colspan="2">' + items['hotdays'] + ' Tag(e) <span class="def">(Tmax ≥ 30 °C)</span></td>');
								ObjTabContentPanelTableBodyTr5.append(ObjTabContentPanelTableTd);

								var ObjTabContentPanelTableTd = jQuery('<td>Sommertag:</td>');
								ObjTabContentPanelTableBodyTr6.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td colspan="2">' + items['summerdays'] + ' Tag(e) <span class="def">(Tmax ≥ 25 °C)</span></td>');
								ObjTabContentPanelTableBodyTr6.append(ObjTabContentPanelTableTd);
								
								var ObjTabContentPanelTableTd = jQuery('<td>Tropennacht:</td>');
								ObjTabContentPanelTableBodyTr7.append(ObjTabContentPanelTableTd);
								var ObjTabContentPanelTableTd = jQuery('<td colspan="2">' + items['tropicalnights'] + ' Tag(e) <span class="def">(Tmax ≥ 20 °C)</span></td>');
								ObjTabContentPanelTableBodyTr7.append(ObjTabContentPanelTableTd);


							});
						});
    				});

    	     		tabindex ++;
    	       });
    		}
    	});
    	//setTimeout(getStaticValues, 600000);
    }
    
    jQuery(document).ready(function() {
    	setTimeout(getStaticValues, 500);
    });

</script>

{% endblock %}